
        <header>
            <h1><%= link_to "FastCount", users_path %></h1>
            <h2>Easy to use and very cool</h2>

            <nav>
                <!-- Comment-->
                <ul>

               
                    
                    <li>
                       
                        
                        <a href="/users#features">features</a></li>
                    
                    <li><%= link_to "sign up", new_user_path %></li>
                    
                </ul>

            </nav>


        </header>

        <hr>




        <section class="container">

            <article id="content"> 

                <h3>Do you want save money?</h3>

                <p>Well with FastCount it's very easy. With some click's
                    you can record the incomes and exprenses and get track
                    of all the transcations any time.</p>


            </article>

            <img src="assets/banner.jpg" alt="Some alt text">

        </section>			



<section id="boxcontent">

            <a id="features"></a>
            <article>

                <img class="icons" src="assets/icon2.png" alt="Productivity"/>

                <h3>Very efficient</h3>

                <p>
                    With this web application it's easier
                    to organize your bills and incomings and keep track
                    of all the stuff.
                </p>

            </article>

            <article>

                <img class="icons" src="assets/icon1.png" alt="Manage your Wallet"/>

                <h3>Easy to count</h3>

                <p>
                    Keep track of your money, record
                    all your expenses and incomes and we
                    do the math for you.
                </p>

            </article>	

            <article>

                <img class="icons" src="assets/icon3.png" alt="Graphs with your data"/>

                <h3>Save time</h3>

                <p>
                    With this software you can see in 
                    graphs all your data and see the statics
                    with a few clicks on the mouse.
                </p>

            </article>

        </section>	





        <section class="wrapper_columns">

            <article class="column_left">    

                <h3>Why FastCount?</h3>

                <p>
                    Well, this application simplify your life. Daily you have to pay
                    bills and spend money in food, cloths and acessories. To keep all the 
                    transsaciotns up to date you simple add the price of those expenses and 
                    you can see what you spended at the final of the month or even select
                    a range of months to see if you are saving money or not.
                </p>

                <p>
                    In other words, this do all the maths that you dont want to do.
                    This is the best way to check where your money is going and if it's well 
                    invested or nor!
                </p>

            </article>

            <section class="column_right">

                <article class="row">

                    <img class="icons" src="assets/icon1.png" alt="Some alt text"/>

                    <p>
                        It's like having a calculator in your browser that do all the hard work
                        for you.
                    </p>

                </article> 

                <article class="row">

                    <img class="icons" src="assets/icon2.png" alt="Some alt text"/>

                    <p>
                        Kepp all the incomes and expenses organized and stored.
                    </p>

                </article>   

            </section>

        </section>







        <div style="clear: both;"></div>




        <footer>

            <div class="footer_content">	

                <div class="wrapper">

                    <div class="social">

                        <a href="#"><img class="icons" src="assets/facebook.png" alt="Some alt text" width="25"/></a>
                        <a href="#"><img class="icons" src="assets/google.png" alt="Some alt text" width="25"/></a>
                        <a href="#"><img class="icons" src="assets/twitter.png" alt="Some alt text" width="25"/></a>

                    </div>

                    &copy; Copyright 2014 - FastCount by Luis Rocha

                </div>

            </div>

        </footer>
